[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==6.3.0"
ansible-lint = "==6.5.1"
molecule = "==4.0.1"
docker = "==6.0.0"
molecule-containers = "==1.0.0"
yamllint = "==1.26.3"
molecule-docker = "==2.0.0"
rich = "==12.5.1"

[dev-packages]

[requires]
python_version = "3.9"
