[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target
Documentation={{ consul_service_docs }}

[Service]
PrivateTmp={{ private_tmp_service }}
Restart=on-failure
ExecStart={{ consul_bindir }}/consul agent -config-dir {{ consul_configdir }} {% if consul_enable_script_check %}-enable-script-checks{% endif %}
User={{ consul_user }}
Group={{ consul_group }}
ExecReload={{ consul_bindir }}/consul reload
KillMode=process
LimitNOFILE={{ consul_max_files }}

StandardOutput={{ consul_service_log_output }}
StandardError={{ consul_service_log_output }}

[Install]
WantedBy=multi-user.target
